body {
    font-family: 'Raleway', sans-serif;
    padding: 35px;
	line-height: 1;
}

/*BANNER AND HEADER STYLES*/
#banner{
    display: list-item;
}

#logo{
    float:left;
}

/*Decoration for the header*/
#titleHeader{
  margin: 0;
  font-size:20px;
  font-family:"Raleway","cursive" !important;
  text-transform:uppercase;
  text-decoration:none;
  font-weight:500;
  font-style:normal;
  display:inline-block;
  line-height:110%;
  color:#111;
}

/*Eliminate the underline in the link*/
h1>a:hover{
  text-decoration:none;
}

/*tag decoaration*/
#tag{
  margin: 0;
  font-size:15px !important;
  text-decoration:none;
  font-weight:500;
  font-style:normal;
  display:inline-block;
  line-height:110%;
  color:#111;
  font-family:"Pacifico";
}

/*Style for div containing nav bar*/
#topNav nav{
  float:right;
  position:relative;
  font-weight: 400;
  font-style: normal;
  font-family: "futura-pt";
  font-size: 13px;
  line-height: 1.6em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*style for each link in the navigation bar*/
#banner #topNav #navBar>a{
  margin-right:20px;
  position:relative;
  font-family: "Raleway", "cursive";
  font-weight:bold;
  font-size:15px;
}

/*style for the last item element in navigation bar*/
#navBar>a:last-child{
 margin-right:0px;
}

/*general style for the links*/
a{
  padding:10px 0;
  display:inline-block;
  color:#111;
  text-decoration: none !important; 
}

a:hover{
  text-decoration:none;
}

/*Style for an active link*/
#navBar>a:active{
  color:#111;
}

.page-divider{
  border-bottom:none;
  margin-bottom:40px;
}



html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border box;
    box-sizing: border-box;
}


h1 {
    margin-bottom: 25px;
    font-size: 35px;
}
h3 {
    margin-bottom: 20px;
    font-size: 28px;
}
p {
    margin-bottom: 15px;
}
p2 {
    float: left;
}
img {
    float: right;
    padding: 0 25px;
}



/*FOOTER STYLES*/
#footer{
  margin-top:100px;
  display:block;
  border-top: 10px;
  clear: both;
  position: relative;
  overflow: hidden;
}

.social-box{
  padding: 25px 0;
  background-color: #F4F4F4;
  text-align: center;
}

#footer .social-box .social-container {
    width: 275px;
    margin: 0 auto;
}

.social-container>a{
  padding:10px;
}

.footer-nav{
  font-size: 15px;
  padding: 30px 0 10px 0;
  background: #00000;
}

.footer-nav-house{
max-width: 100%;
padding: 0 60px;
margin: 0 auto;
}

.footer-nav-left{
  float:left;
}
.designer-name{
}

.footer-nav-right{
float: right;
font-family: 'MuseoSans_Fat';
text-transform: uppercase;
}


#footer .footer-nav ul {
    margin-bottom: 10px;
    overflow: hidden;
}

#footer .footer-nav li {
    float: left;
    margin: 0 15px 10px 0;
    padding-right: 15px;
    text-transform: uppercase;
    font-family: 'MuseoSans_Fat';
    border-right: 1px solid #333;
}

#footer .footer-nav li:last-child {
    border-right: 0px;
}
